@use "variables" as *;

.about {
    align-items: center;
    background: var(--clr-white);
    display: flex;
    height: 100vh;

    .imgCont {
        width: 50%;
        display: inline-block;

        img {
            border: 8px white solid;
            box-shadow: 3px 3px 10px #dbdbdb;
        }
    }

    .textCont {
        align-self: center;  
        display: inline-block;
        padding: 0 4.4em;
        width: 50%;

        h2 {
            font-size: 2rem;
            font-family: 'Cantarell', sans-serif;
            padding-bottom: .8em;
        }

        p {
            font-size: 1.125rem;
            color: var(--clr-eerie-black);
            line-height: 1.6
        }

        hr {
            background: var(--clr-eerie-black);
            height: 1px;
            margin: 25px 0;
        }

        ul {
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
            padding: 0;

            li {
                list-style-type: none;
                font-size: 0.875rem;
                color: var(--clr-eerie-black);
                padding: 0.7em 0;

                span {
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media screen and (max-width: $vw-xlg) {
    .about {
        .imgCont {
            text-align: center;
        }
    }
}

@media screen and (max-width: $vw-md) {
    .about {
        height: auto;
        padding: 150px 0;

        .imgCont {
            width: 40%;

            img {
                width: 90%;
                margin: 0 auto;
            }
        }

        .textCont {
            width: 60%;
            padding: 0 2em;
        }
    }
}

@media screen and (max-width: $vw-sm) {
    .about {
        .flex {
            flex-direction: column !important;
        }

        .imgCont {
            width: 100%;
            display: block;

            img {
                max-width: 290px;
            }
        }

        .textCont {
            width: 100%;
            display: block;
            padding: 3em .5em 0;

            p {
                font-size: 1rem;
            }
        }
    }
   
}

@media screen and (max-width: $vw-xs) {    
    .about {
        padding: 20% 0;

        .imgCont {
            img {
                max-width: 290px;
                width: 70%;
            }
        }

        .textCont {
            padding: 2em 0.5em 0;

            ul {
                columns: 1;
                -webkit-columns: 1;
                -moz-columns: 1;
            }

            h2 {
                font-size: 1.5rem;
            }
        }
    }
}