@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Josefin+Sans:wght@300;400;500;600&display=swap');

:root {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  scroll-behavior: smooth;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-gray: #e0e0e0;
  --clr-gray-gray: #e6e6e6;
  --clr-dark-gray: #1e1e1e;
  --clr-great-dark: #191919;
  --clr-gray97: #f7f7f7;
  --clr-eerie-black: #262626;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, p, span, strong{
  padding: 0;
  margin: 0;
  white-space: initial;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  width: 100%;
  padding: 0;
}

.flex {
  display: flex;
}

.container.nav-cont {
  max-width: 1380px;
}

nav {
  position: fixed;
  width: 100%;
  top: 35px;
  z-index: 10;
  transition: all 0.2s ease-in-out;

  .menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
  }

  a {
    text-decoration: none;
    color: #fff;

    &:hover {
      cursor: pointer;
    }
  }

  .logo {
    align-self: flex-start;

    h1 {
      margin: 0 auto;
      font-size: 18px;
    }

    a {
      font-size: 18px;
    }
  }

  .menu-links {
    margin-right: 100px;
    align-items: center;
    display: flex;

    a {
      font-size: 16px;
      margin: 0 22px;

      &:last-child{
        margin-right: 0;
      }
    }
  }
}

nav.active {
  background: #fff;
  box-shadow: 1px -2px 10px #636363;
  top: 0px;

  .menu {
    padding: 15px;
  }

  a {
    color: #191919;
  }
}

footer {
  height: 266px;
  background: #1e1e1e;
  display: flex;
  align-items: center;
  position: relative;

  .text-cont {
    align-items: center;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-bottom: 45px;

    h2 {
      font-size: 16px;
      padding: 0 0 15px;
    }

    p {
      font-size: 14px;
      padding: 0 0 15px;
    }

    a {
      background-size: cover;
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: 5px 10px;

      &:hover {
        cursor: pointer;
      }
    }

    a.facebook {
      background: url('../public/fb.png');
    }

    a.instagram {
      background: url('../public/ig.png');
    }

    a.linkedin {
      background: url('../public/linkedin.png');
    }

    a.github {
      background: url('../public/github.png')
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    height: 59px;
    display: flex;
    align-items: center;
    background: #191919;

    p {
      width: 100%;
      font-size: 12px;
      color: #fff;
    }
  }
}
