.banner {
  height: 100vh;
  background: url('../public/banner.png');
  background-position-x: center;
  background-size: cover;
  position: relative;
  align-items: center;
  display: flex;

  .overlay {
    background: rgba(0, 0, 0, 0.3);
    width: 55%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .text {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: 45px;
    position: relative;
    width: fit-content;
    z-index: 2;

    h2 {
      color: #fff;
      display: block;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 64px;
      font-weight: 300;
      margin-left: -4px;
      padding-bottom: 10px;

      strong {
        font-weight: 600;
      }
    }

    h3 {
      display: block;
      color: #fff;
      padding-bottom: 25px;
      font-family: 'Cantarell', sans-serif;
      font-size: 20px;
    }

    p {
      color: #fff;
      font-size: 16px;
      position: relative;
      width: fit-content;
      margin: 0 0 30px 60px;

      &::before {
        background: #fff;
        bottom: 9px;
        content: '';
        height: 1px;
        position: absolute;
        left: -60px;
        width: 50px;
      }

      &::after {
        background: #fff;
        bottom: 9px;
        content: '';
        height: 1px;
        position: absolute;
        right: -60px;
        width: 50px;
      }
    }

    a {
      background-color: #fff;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 16px;
      display: block;
      height: 45px;
      line-height: 47px;
      padding: 0 0 0 20px;
      text-transform: uppercase;
      width: 172px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .links {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: fit-content;
    left: 40px;
    top: 337px;

    .facebook {
      background: url('../public/fb.png');
    }

    .instagram {
      background: url('../public/ig.png');
    }

    .linkedin {
      background: url('../public/linkedin.png');
    }

    .github {
      background: url('../public/github.png')
    }

    a {
      background-size: cover;
      display: block;
      width: 18px;
      height: 18px;
      margin: 5px 0;
      
      &:hover {
        cursor: pointer;
      }
    }

    &::before {
      content: '';
      width: 1px;
      height: 26px;
      color: #fff;
      background: #fff;
      position: absolute;
      top: -32px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    &::after {
      content: '';
      width: 1px;
      height: 26px;
      color: #fff;
      background: #fff;
      position: absolute;
      bottom: -32px;
      left: 0;
      right: 0;
      margin: 0 auto;    
    }
  }

  .scroll {
    color: #fff;
    font-family: 'Cantarell', sans-serif;
    font-size: 16px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 386px;
    transform: rotate(90deg);
    z-index: 2;

    a {
      text-decoration: none;
      color: #fff;
    }

    &::after {
      content: "";
      position: absolute;
      right: -35px;
      height: 1px;
      width: 26px;
      background: #fff;
      bottom: 10px;
    }
  }
}

