@use "variables" as *;

.banner {
  height: 100vh;
  background: url('../public/banner.png');
  background-position-x: center;
  background-size: cover;
  position: relative;
  align-items: center;
  display: flex;

  .flexScroll {
    display: flex;
    align-items: center;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.3);
    width: 55%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .text {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: 2.8em;
    position: relative;
    width: 500px;
    z-index: 2;

    h2 {
      color: var(--clr-white);
      display: block;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 4rem;
      font-weight: 300;
      margin-left: -0.07em;
      padding-bottom: 0.2em;

      strong {
        font-weight: 600;
      }
    }

    h3 {
      display: block;
      color: var(--clr-white);
      font-family: 'Cantarell', sans-serif;
      font-size: 1.25rem;
      padding-bottom: 1.2em;
      font-weight: 300;
    }

    p {
      color: var(--clr-white);
      font-size: 1rem;
      position: relative;
      width: fit-content;
      margin: 0 0 1.8em 3.8em;

      &::before {
        background-color: var(--clr-white);
        bottom: 9px;
        content: '';
        height: 1px;
        position: absolute;
        left: -60px;
        width: 50px;
      }

      &::after {
        background-color: var(--clr-white);
        bottom: 9px;
        content: '';
        height: 1px;
        position: absolute;
        right: -60px;
        width: 50px;
      }
    }

    a {
      background-color: var(--clr-white);
      font-family: 'Josefin Sans', sans-serif;
      font-size: 1rem;
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      padding: 1em 7em 1em 1.2em;
      width: fit-content;
      color: var(--clr-black);

      &:hover {
        cursor: pointer;
      }
    }
  }

  .links {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: fit-content;
    left: 40px;
    top: 337px;

    .facebook {
      background: url('../public/fb.png');
    }

    .instagram {
      background: url('../public/ig.png');
    }

    .linkedin {
      background: url('../public/linkedin.png');
    }

    .github {
      background: url('../public/github.png')
    }

    a {
      background-size: cover;
      display: block;
      width: 18px;
      height: 18px;
      margin: 5px 0;
      
      &:hover {
        cursor: pointer;
      }
    }

    &::before {
      content: '';
      width: 1px;
      height: 26px;
      color: var(--clr-white);
      background-color: var(--clr-white);
      position: absolute;
      top: -32px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    &::after {
      content: '';
      width: 1px;
      height: 26px;
      color: var(--clr-white);
      background-color: var(--clr-white);
      position: absolute;
      bottom: -32px;
      left: 0;
      right: 0;
      margin: 0 auto;    
    }
  }

  .scroll {
    color: var(--clr-white);
    font-family: 'Cantarell', sans-serif;
    font-size: 16px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    transform: rotate(90deg);
    z-index: 2;

    a {
      text-decoration: none;
      color: var(--clr-dirty-white);
    }

    &::after {
      content: "";
      position: absolute;
      right: -35px;
      height: 1px;
      width: 26px;
      background-color: var(--clr-white);
      bottom: 10px;
    }
  }
}

// @media screen and (max-width: $vw-lg) {
//   .banner {
//     background-color: red;
//   }
// }

