.projects {
    align-items: center;
    background: var(--clr-white);
    display: flex;
    height: auto;
    padding: 50px 0 80px;
    

    .projectCont {
        text-align: center;
        width: 100%;

        h2 {
            font-size: 2rem;
            font-family: 'Cantarell', sans-serif;
            padding-bottom: 0.8em;
        }

        p {
            font-size: 1.125rem;
            color: var(--clr-eerie-black);
        }

        .projectsList {
            width: 100%;
            flex-direction: column;

            ul {
                columns: 3;
                -webkit-columns: 3;
                -moz-columns: 3;
                list-style-type: none;
                margin-top: 2em;
                padding: 0;

                li {
                    padding: 1.25em 0.3125em;

                    a {
                        box-shadow: 3px 3px 10px #dbdbdb;
                        display: inline-block;
                        height: 211px;
                        position: relative;
                        width: 347px;
                        border: solid 5px #e0e0e0;

                        span {
                            background-color: rgba(224, 224, 224, 0.7);
                            bottom: 0;
                            font-family: 'Cantarell', sans-serif;
                            color: var(--clr-black);
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: -1px;
                            width: 100%;
                            padding: 10px 0;
                        }

                        &:hover {
                            span {
                                background-color: rgba(224, 224, 224, 0.8);
                            }
                        }
                    }
                }
            }
        }

        .view {
            background-color: var(--clr-gray);
            color: var(--clr-black);
            display: block;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 1rem;
            text-transform: uppercase;
            text-decoration: none;
            text-align: left;
            font-size: 1rem;
            padding: 1rem 5rem 1rem 1.2rem;
            width: fit-content;
            margin: 4em auto 0;
        }
    }
}