@use "variables" as *;

.skills {
    background: url('../public/skillsbg.jpg');
    background-size: cover;
    background-position-x: center;
    display: flex;
    height: 70vh;

    .textCont {
        align-self: center;  
        display: inline-block;
        width: 50%;

        h2 {
            font-size: 2rem;
            font-family: 'Cantarell', sans-serif;
            padding-bottom: 0.8em;
        }

        p {
            font-size: 1.125rem;
            color: var(--clr-eerie-black);
            line-height: 1.6
        }

        ul {
            list-style-type: none;

            li {
                padding: 0.7em 0;

                p {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 0.3em;
                }

                .progressBar {
                    width: 100%;
                    background: #c5c5c5;
                    height: 2px;
                    display: block;
                    position: relative;

                    p {
                        background: var(--clr-eerie-black);
                        width: 0%;
                        height: 2px;
                        padding: 0;
                        transition: all 1s ease-in-out;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $vw-md) {
    .skills {
        height: 90vh;
    }
}

@media screen and (max-width: $vw-sm) {
    .skills {
        height: auto;
        background-position-x: left;
        padding: 10% 0;

        .flex {
            flex-direction: column;
        }

        .textCont {
            display: block;
            width: 80%;
            align-self: flex-start;
            padding-left: 2em;

            p {
                font-size: 1rem;
            }

            ul {
                padding: 0;

                li {
                    p {
                        font-size: .9rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $vw-xs) {
    .skills {
        padding: 15% 0;

        .textCont {
            width: 100%;
            padding: 0;
            
            h2 {
                font-size: 1.5rem;
            }

            ul {
                li {
                    width: 100%;
                    max-width: 20em;

                    p {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}
